#navbar {
  height: 40px;
  width: 99%;
  border: 2px solid black;
  display: flex;
  justify-content: end;
  padding-bottom: 25px;
}
#navbar > a > p {
  margin-right: 35px;
  font-size: 20px;
  font-weight: 600;
  color: black;
}
a {
  text-decoration: none;
}
#signup-form-div {
  height: 370px;
  width: 350px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: auto;
  margin-top: 50px;
  padding-top: 10px;
}

h1 {
  margin-left: 120px;
}

#loginform > input {
  margin-bottom: 20px;
  margin-left: 70px;
}

#email,
#password,#name,#contact {
  height: 30px;
  width: 220px;
}

#submit {
  height: 25px;
  width: 150px;
  border-radius: 5px;
  background-color: teal;
  color: white;
  border: 0.1px solid gray;
  justify-content: center;
}
